WcfServiceData/Cliente/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AlumnosInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDAlumno" type="xs:long" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlumnosInfo" nillable="true" type="tns:AlumnosInfo" />
  <xs:complexType name="ArrayOfAlumnosInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlumnosInfo" nillable="true" type="tns:AlumnosInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlumnosInfo" nillable="true" type="tns:ArrayOfAlumnosInfo" />
</xs:schema>